<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
     <%= form_for(@profile) do |f| %>
          <% if @profile.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

              <ul>
              <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <label for="usr">*Name:</label>
            <%= f.text_field :name, :class=>"form-control", :placeholder=>"Enter name or nickname" %>
          </div>
          <div class="form-group">
            <label for="usr">*City:</label>
            <%= f.text_field :city, :class=>"form-control", :placeholder=>"Enter city of residence" %>
          </div>
          <!-- <div class="form-group">
            <%#= f.label :Age %>*
            <%#= f.select(:age, age_option, {prompt: 'Please select ...'}, { :class => 'form-control'}) %>
          </div> -->
          <div class="form-group">
            <%= f.label :Country %>*
            <%= f.select(:country,country_option, {prompt: 'Please select ...'}, { :class => 'form-control'})%>
          </div>
          <div class="form-group">
            <%= f.label "Zodiac sign" %>
            <%= f.select(:zodiac_sign,zodiac_sign_option, {prompt: 'Please select ...'}, { :class => 'form-control'}) %></
          </div>
          <div class="form-group">
            <label for="usr">*Occupation:</label>
            <%= f.text_field :occupation, :class=>"form-control", :placeholder=>"Occupation" %>
          </div>
          
          <div class="form-group">
            <label for="usr">*Gender:</label>&nbsp;&nbsp;
            <label class="radio-inline">
              <%= f.radio_button :sex, "Male"%>Male
            </label>
            <label class="radio-inline">
              <%= f.radio_button :sex, "Female"%>Female
            </label>
          </div>
          <div class="form-group">
            <label for="usr">*Marital Status:</label>&nbsp;&nbsp;
            <label class="radio-inline">
              <%= f.radio_button :marital_status, "Married"%>Married
            </label>
            <label class="radio-inline">
              <%= f.radio_button :marital_status, "Separated"%>Separated
            </label>
            <label class="radio-inline">
              <%= f.radio_button :marital_status, "Single"%>Single
            </label>
          </div>
          <div class="form-group">
            <label for="usr">*Physicality:</label>&nbsp;&nbsp;
            <% physicality_option.each do |item| %>
              <label class="radio-inline">
                <%= f.check_box :physicality,{multiple: true}, item,nil %> <%= item %>
              </label>
            <% end %>
          </div>
          <div class="form-group">
            <label for="usr">*Sexual Orientation:</label>&nbsp;&nbsp;
            <% sexual_orientation_option.each do |item| %>  
              <label class="radio-inline">
                <%= f.check_box :sexual_orientation,{multiple: true}, item,nil %> <%= item %>
              </label>
            <% end %>
          </div>
          <div class="form-group">
            <label for="usr">*Lifestyle:</label>&nbsp;&nbsp;
              <% lifestyle_option.each do |item| %>
                <label class="radio-inline">
                 <%= f.check_box :lifestyle,{multiple: true},item,nil%> <%= item %>
                </label>
              <%end%>
          </div>

          <div class="form-group">
            <label for="usr">*Commitment:</label>&nbsp;&nbsp;
            <% commitment_option.each do |item| %>
              <label class="radio-inline">
                <%= f.check_box :commitment,{multiple: true}, item,nil %> <%= item %>
              </label>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.submit "Update", :class=>"btn btn-primary active"%>
          </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<script>
  $("#new_profile").validate({
    rules: {
      "profile[name]": {
        required: true
      },
      "profile[city]": {
        required: true
      },
      // "profile[age]": {
      //   required:true,
      // },
      "profile[country]": {
        required:true,
      },
      "profile[occupation]": {
        required:true,
      }
      // "profile[sex]": {
      //   required:true,
      // },
      // "profile[marital_status]": {
      //   required:true,
      // },
      // "profile[physicality][]": {
      //   required:true,
      // },
      // "profile[sexual_orientation]": {
      //   required:true,
      // },
      // "profile[lifestyle]": {
      //   required:true,
      // },
      // "profile[commitment]": {
      // required:true,
      // },                        
    },
      messages:{
      "profile[name]":{
        required: "Name must be enter"
       },
       "profile[city]":{
        required: "City must be enter"
       },
       // "profile[age]":{
       //  required: "Age must be enter"
       // },
       "profile[country]":{
        required: "Country must be enter"
       },
       "profile[occupation]":{
        required: "Occupation must be enter"
       }
       // "profile[sex]": {
       //  required: "Gender must be enter"
       //  },
       //  "profile[marital_status]": {
       //    required: "Marital status must be enter"
       //  },
       //  "profile[physicality][]": {
       //    required: "Physicality must be enter"
       //  },
       //  "profile[sexual_orientation]": {
       //    required: "Must be enter"
       //  },
       //  "profile[lifestyle]": {
       //    required: "Lifestyle status must be enter"
       //  },
       //  "profile[commitment]": {
       //  required: "Commitment status must be enter"
       //  }    
      }
  });
</script>

