<div class="container">
  <h2>Create your profile</h2>
  <%= form_for(@profile) do |f| %>
    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <label for="usr">Name:</label>
      <%= f.text_field :name, :class=>"form-control", :placeholder=>"Enter name or nickname" %>
    </div>
    <div class="form-group">
      <label for="usr">City:</label>
      <%= f.text_field :city, :class=>"form-control", :placeholder=>"Enter city of residence" %>
    </div>
    <div class="form-group">
      <label for="usr">Phone Number:</label>
      <%= f.text_field :phone_number, :class=>"form-control", :placeholder=>"Enter Phone Number" %>
    </div>
    <div class="form-group">
      <%= f.label :Age %>
      <%= f.select(:age, ['18-28', '29-40', '41-65', '66-80'], {prompt: 'Please select ...'}, { :class => 'form-control',:required=>true}) %>
    </div>
    <div class="form-group">
      <label for="usr">Occupation:</label>
      <%= f.text_field :occupation, :class=>"form-control", :placeholder=>"Occupation" %>
    </div>
    <div class="form-group">
      <label for="comment">Describe yourself::</label>
      <%= f.text_area :describe_yourself,:class => 'form-control',:required=>true, :placeholder=>"Write here somthing about you...."%>
    </div>
    <div class="form-group">
      <label for="comment">Gender:</label>&nbsp;&nbsp;
      <label class="radio-inline">
        <%= f.radio_button :sex, "male"%>Male
      </label>
      <label class="radio-inline">
        <%= f.radio_button :sex, "female"%>Female
      </label>
    </div>
    <div class="form-group">
      <%= f.submit "Create", :class=>"btn btn-primary active" %>
    </div>
  <% end %>
</div>





