<div class="container">
  <%= form_for(@profile) do |f| %>
    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <label for="usr">Name:</label>
      <%= f.text_field :name, :class=>"form-control", :placeholder=>"Enter name or nickname" %>
    </div>
    <div class="form-group">
      <label for="usr">City:</label>
      <%= f.text_field :city, :class=>"form-control", :placeholder=>"Enter city of residence" %>
    </div>
    <div class="form-group">
      <label for="usr">Phone Number:</label>
      <%= f.text_field :phone_number, :class=>"form-control", :placeholder=>"Enter Phone Number" %>
    </div>
    <div class="form-group">
      <%= f.label :Age %>
      <%= f.select(:age, age_option, {prompt: 'Please select ...'}, { :class => 'form-control'}) %>
    </div>
    <div class="form-group">
      <%= f.label :Country %>
      <%= f.select(:country,country_option, {prompt: 'Please select ...'}, { :class => 'form-control'})%>
    </div>
    <div class="form-group">
      <%= f.label "Zodiac sign" %>
      <%= f.select(:zodiac_sign,zodiac_sign_option, {prompt: 'Please select ...'}, { :class => 'form-control'}) %>
    </div>
    <div class="form-group">
      <label for="usr">Occupation:</label>
      <%= f.text_field :occupation, :class=>"form-control", :placeholder=>"Occupation" %>
    </div>
    <div class="form-group">
      <label for="usr">Describe yourself::</label>
      <%= f.text_area :describe_yourself,:class => 'form-control', :placeholder=>"Write here somthing about you...."%>
    </div>
    <div class="form-group">
      <%= f.label :Birthdate %>
      <%= f.date_select(:birthdate, :order => [:month, :day, :year]) %>
    </div>
    <div class="form-group">
      <label for="usr">Gender:</label>&nbsp;&nbsp;
      <label class="radio-inline">
        <%= f.radio_button :sex, "Male"%>Male
      </label>
      <label class="radio-inline">
        <%= f.radio_button :sex, "Female"%>Female
      </label>
    </div>
    <div class="form-group">
      <label for="usr">Marital Status:</label>&nbsp;&nbsp;
      <label class="radio-inline">
        <%= f.radio_button :marital_status, "Married"%>Married
      </label>
      <label class="radio-inline">
        <%= f.radio_button :marital_status, "Separated"%>Separated
      </label>
      <label class="radio-inline">
        <%= f.radio_button :marital_status, "Single"%>Single
      </label>
    </div>
    <div class="form-group">
      <label for="usr">Physicality:</label>&nbsp;&nbsp;
      <% physicality_option.each do |item| %>
        <label class="radio-inline">
          <%= f.check_box :physicality,{multiple: true}, item,nil %> <%= item %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <label for="usr">Sexual Orientation:</label>&nbsp;&nbsp;
      <% sexual_orientation_option.each do |item| %>
        <label class="radio-inline">
          <%= f.check_box :sexual_orientation,{multiple: true}, item,nil %> <%= item %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <label for="usr">Lifestyle:</label>&nbsp;&nbsp;
      <% lifestyle_option.each_with_index do |item,index| %>
        <label class="radio-inline">
          <%= f.check_box :lifestyle,{multiple: true},item,nil%> <%= item %>
        </label>
      <% end %>
    </div>

    <div class="form-group">
      <label for="usr">Commitment:</label>&nbsp;&nbsp;
      <% commitment_option.each do |item| %></br>
        <label class="radio-inline">
          <%= f.check_box :commitment,{multiple: true},item,nil %> <%= item %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit "Create", :class=>"btn btn-primary active"%>
    </div>
    </div>
  <% end %>
</div>









