<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
     <%= form_for(@profile) do |f| %>
          <% if @profile.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

              <ul>
              <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <label for="usr">*Name:</label>
            <%= f.text_field :name, :class=>"form-control", :placeholder=>"Enter name or nickname" %>
          </div>
          <div class="form-group">
            <label for="usr">City:</label>
            <%= f.text_field :city, :class=>"form-control", :placeholder=>"Enter city of residence" %>
          </div>
          <div class="form-group">
            <label for="usr">*Phone Number:</label><br>
            <%= f.text_field :phone_number, :class=>"form-control", :placeholder=>"Enter Phone Number", :onchange => "search_func(this.value);" %>
            <!-- <a href="#-" class="open-attachment">Verify Number</a>
            <span id="varify_link"></span> -->
          </div>
          <div class="form-group">
            <%= f.label :Age %>*
            <%= f.select(:age, age_option, {prompt: 'Please select ...'}, { :class => 'form-control'}) %>
          </div>
          <div class="form-group">
            <%= f.label :Country %>*
            <%= f.select(:country,country_option, {prompt: 'Please select ...'}, { :class => 'form-control'})%>
          </div>
          <div class="form-group">
            <%= f.label "Zodiac sign" %>*
            <%= f.select(:zodiac_sign,zodiac_sign_option, {prompt: 'Please select ...'}, { :class => 'form-control'}) %>
          </div>
          <div class="form-group">
            <label for="usr">*Occupation:</label>
            <%= f.text_field :occupation, :class=>"form-control", :placeholder=>"Occupation" %>
          </div>
          
          <div class="form-group">
            <%= f.label :Birthdate %>*
            <%= f.text_field :birthdate , :id=>"datepicker", :class=>"form-control"%>
          </div>
          <div class="form-group">
            <label for="usr">*Gender:</label>&nbsp;&nbsp;
            <label class="radio-inline">
              <%= f.radio_button :sex, "Male"%>Male
            </label>
            <label class="radio-inline">
              <%= f.radio_button :sex, "Female"%>Female
            </label>
          </div>
          <div class="form-group">
            <label for="usr">*Marital Status:</label>&nbsp;&nbsp;
            <label class="radio-inline">
              <%= f.radio_button :marital_status, "Married"%>Married
            </label>
            <label class="radio-inline">
              <%= f.radio_button :marital_status, "Separated"%>Separated
            </label>
            <label class="radio-inline">
              <%= f.radio_button :marital_status, "Single"%>Single
            </label>
          </div>
          <div class="form-group">
            <label for="usr">*Physicality:</label>&nbsp;&nbsp;
            <% physicality_option.each do |item| %>
              <label class="radio-inline">
                <%= f.check_box :physicality,{multiple: true}, item,nil %> <%= item %>
              </label>
            <% end %>
          </div>
          <div class="form-group">
            <label for="usr">*Sexual Orientation:</label>&nbsp;&nbsp;
            <% sexual_orientation_option.each do |item| %>  
              <label class="radio-inline">
                <%= f.check_box :sexual_orientation,{multiple: true}, item,nil %> <%= item %>
              </label>
            <% end %>
          </div>
          <div class="form-group">
            <label for="usr">*Lifestyle:</label>&nbsp;&nbsp;
              <% lifestyle_option.each do |item| %>
                <label class="radio-inline">
                 <%= f.check_box :lifestyle,{multiple: true},item,nil%> <%= item %>
                </label>
              <%end%>
          </div>

          <div class="form-group">
            <label for="usr">*Commitment:</label>&nbsp;&nbsp;
            <% commitment_option.each do |item| %>
              <label class="radio-inline">
                <%= f.check_box :commitment,{multiple: true}, item,nil %> <%= item %>
              </label>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.submit "Update", :class=>"btn btn-primary active"%>
          </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>


<div id="add-attachment" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Attachment</h4>
      </div>
      <div class="modal-body">
        <%= form_tag verify_number_profiles_path do %>
          <div>
            <label for="ex1">Enter 4 digit code:</label>
            <%= text_field_tag :verification_code,nil, :class=>"form-control" %>
          </div>
          <div class="modal-footer">
           <%= submit_tag "submit", :class=>"btn btn-primary"%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
  $("#new_profile").validate({
    rules: {
      "profile[name]": {
        required: true
      },
      "profile[city]": {
        required: true
      },
      "profile[phone_number]": {
        required:true,
        minlength:9,
        number: true
      },
      "profile[age]": {
        required:true,
      },
      "profile[country]": {
        required:true,
      },
      "profile[occupation]": {
        required:true,
      },
      "profile[birthdate]": {
        required:true,
      }      
    },
      messages:{
      "profile[name]":{
        required: "Name must be enter"
       },
       "profile[city]":{
        required: "City must be enter"
       },
       "profile[phone_number]":{
        required: "Enter valid number"
       },
       "profile[age]":{
        required: "Age must be enter"
       },
       "profile[country]":{
        required: "Country must be enter"
       },
       "profile[occupation]":{
        required: "Occupation must be enter"
       },
       "profile[birthdate]":{
        required: "Birthdate must be enter"
       }
      }
  });

  $(function() {
    $( "#datepicker" ).datepicker()({ dateFormat: 'dd-mm-yy' }).val();
  });
  // $(".open-attachment").click(function(){
  //  $("#add-attachment").modal('show')
  // })
</script>

