<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Trial plan</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$1 / month</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 50 profiles</li>
				</ul>
				<div class="panel-footer">
					<%= form_tag buy_membership_plan_payments_path do %>
					  <script
					   src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					    data-name="Whitepeoplemeet app"
					    data-description="Stripe payment"
					    data-amount="100"
					    data-locale="auto"
					    data-label="BUY NOW!"
					    >
					  </script>
					   <%= hidden_field_tag :plan_type, "Trial plan" %> 
					   <%= hidden_field_tag :plan_price, 1 %> 
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Basic</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$19</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 200 profiles</li>
				</ul>
				<div class="panel-footer">
					<%= form_tag buy_membership_plan_payments_path do %>
					  <script
					   src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					    data-name="Whitepeoplemeet app"
					    data-description="Stripe payment"
					    data-amount="1900"
					    data-locale="auto"
					    data-label="BUY NOW!"
					    >
					  </script>
					  <%= hidden_field_tag :plan_type, "Basic" %> 
					  <%= hidden_field_tag :plan_price, 19 %> 
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Casual</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$59</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 600 profiles</li>
				</ul>
				<div class="panel-footer">
					<%= form_tag buy_membership_plan_payments_path do %>
					  <script
					   src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					    data-name="Whitepeoplemeet app"
					    data-description="Stripe payment"
					    data-amount="5900"
					    data-locale="auto"
					    data-label="BUY NOW!"
					    >
					  </script>
					  <%= hidden_field_tag :plan_type, "Casual" %> 
					  <%= hidden_field_tag :plan_price, 59 %> 
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Focused</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$129</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 1200 profiles</li>
				</ul>
				<div class="panel-footer">
					<%= form_tag buy_membership_plan_payments_path do %>
					  <script
					   src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					    data-name="Whitepeoplemeet app"
					    data-description="Stripe payment"
					    data-amount="12900"
					    data-locale="auto"
					    data-label="BUY NOW!"
					    >
					  </script>
					  <%= hidden_field_tag :plan_type, "Focused" %> 
					  <%= hidden_field_tag :plan_price, 129 %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Silver</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$259</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 15 sec video clip</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited profiles</li>
				</ul>
				<div class="panel-footer">
					<%= form_tag buy_membership_plan_payments_path do %>
					  <script
					   src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					    data-name="Whitepeoplemeet app"
					    data-description="Stripe payment"
					    data-amount="25900"
					    data-locale="auto"
					    data-label="BUY NOW!"
					    >
					  </script>
					  <%= hidden_field_tag :plan_type, "Silver" %> 
					  <%= hidden_field_tag :plan_price, 259 %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
				<h3>Gold</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$599</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 15 sec video clip</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited profiles</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i>anonymous profile</li>
				</ul>
				<div class="panel-footer">
					<%= form_tag buy_membership_plan_payments_path do %>
					  <script
					   src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					    data-name="Whitepeoplemeet app"
					    data-description="Stripe payment"
					    data-amount="59900"
					    data-locale="auto"
					    data-label="BUY NOW!"
					    >
					  </script>
					  <% hidden_field_tag :plan_type, "Gold" %> 
					  <%= hidden_field_tag :plan_price, 599 %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
		
			<!-- PRICE ITEM -->
			<div class="panel price panel-blue">
				<div class="panel-heading  text-center">
				<h3>Diamond</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$1299</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-danger"></i> 15 sec video clip</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited profiles</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i>anonymous profile</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i>contact request block</li>
				</ul>
				<div class="panel-footer">
					<%= form_tag buy_membership_plan_payments_path do %>
					  <script
					   src="https://checkout.stripe.com/checkout.js"
					    class="stripe-button"
					    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					    data-name="Whitepeoplemeet app"
					    data-description="Stripe payment"
					    data-amount="129900"
					    data-locale="auto"
					    data-label="BUY NOW!"
					    >
					  </script>
					  <% hidden_field_tag :plan_type, "Diamond" %> 
					  <%= hidden_field_tag :plan_price, 1299 %>
					<% end %>
				</div>
			</div>
			<!-- /PRICE ITEM -->
		</div>
	</div>
</div>

	