<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Sign Up</div>
      <div style="float:right; font-size: 85%; position: relative; top:-10px">
        <%- if controller_name != 'sessions' %>
          <%= link_to "Sign in", new_session_path(resource_name) %><br />
        <% end -%>
      </div>
    </div>  

    <div class="panel-body"> 
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class=>"form-horizontal", :id=>"signupform") do |f| %>
          <%= devise_error_messages! %>            
        <div class="form-group">
          <label for="firstname" class="col-md-3 control-label">First Name</label>
          <div class="col-md-9" style="margin-bottom: 25px;">
            <%= f.text_field :first_name,:class=>"form-control",:placeholder=>"First Name",autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <label for="lastname" class="col-md-3 control-label">Last Name</label>
          <div class="col-md-9" style="margin-bottom: 25px;">
            <%= f.text_field :last_name,:class=>"form-control",:placeholder=>"Last Name"%>
          </div>
        </div>
        <div class="form-group">
          <label for="username" class="col-md-3 control-label">User Name</label>
          <div class="col-md-9" style="margin-bottom: 25px;">
            <%= f.text_field :username,:class=>"form-control",:placeholder=>"User Name"%>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-md-3 control-label">Email</label>
          <div class="col-md-9" style="margin-bottom: 25px;">
              <%= f.email_field :email,:class=>"form-control",:placeholder=>"Email Address"%>
          </div>
        </div>           
        <div class="form-group">
          <label for="password" class="col-md-3 control-label">Password</label>
          <div class="col-md-9" style="margin-bottom: 25px;">
            <%= f.password_field :password,:class=>"form-control",:placeholder=>"Password", autocomplete: "off" %>
          </div>
        </div>
        <div class="form-group">
          <label for="icode" class="col-md-3 control-label"> Confirm</label>
          <div class="col-md-9" style="margin-bottom: 25px;">
              <%= f.password_field :password_confirmation,:class=>"form-control", :placeholder=>"Password confirmation", autocomplete: "off" %>
          </div>
        </div>
        <div class="form-group">
          <label for="icode" class="col-md-3 control-label"> Mobile number</label>
          <div class="col-md-9" style="margin-bottom: 25px;">
              <%= f.text_field :mobile_number,:class=>"form-control", :placeholder=>"Enter mobile number"%>
          </div>
        </div>
        <div class="form-group">                                
          <div class="col-md-offset-4 col-md-9">
              <%= f.submit "Sign up", :class=>"btn btn-info" %>
          </div>
        </div>       
    <%end%>
  </div>
</div>

<script>
  $("#new_user").validate({
    rules: {
      "user[mobile_number]": {
        required: true,
         minlength:9,
         number: true
      } 
    },
      messages:{
      "user[mobile_number]":{
        required: "Mobile number Must be enter",
        number: "Please enter only digits"
       } 
      }
  });
</script>
