<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          <h3 class="text-center">Forgot Password?</h3>
                          <p>If you have forgotten your password - reset it here.</p>
                            <div class="panel-body">
                              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                                <%= devise_error_messages! %>
                                <fieldset>
                                  <div class="form-group">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                      <%= f.email_field :email, :class=>"form-control",:placeholder=>"email",autofocus: true %>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <%= f.submit "Send me reset password",:class=>"btn btn-lg btn-primary btn-block" %>
                                    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                                      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
                                    <% end -%>
                                  </div>
                                </fieldset>
                              <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>