<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitepeoplemeet App</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%=root_path%>">Home</a></li>
        <% if user_signed_in? %>
          <% if current_user.profile.present?%>
            <li><a href="<%=profile_path(current_user.profile.id)%>">Profile</a></li>
          <%end%>
         <li><a href="#-" class="membership_plan">Plan</a></li>
         <li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
          </li>
        <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Setting<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <%if !current_user.profile.present? %>
                <li><%= link_to 'Edit Profile', new_profile_path %></li>
              <%end%> 
              <%if current_user.profile.present? %>
                <li><%= link_to 'Edit Profile', edit_profile_path(current_user.profile.id) %></li>
              <%end%> 
              <li><%= link_to 'Change Password', edit_user_registration_path %></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a href="#-"><img src="/assets/default.png"><span> <%=current_user.fullname.capitalize%></span></a></li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>

<!-- <div id="add-attachment" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Choose membership plan</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="#" class="list-group-item">$1 month, review 50 profiles
          </a>
          <a href="#" class="list-group-item">Basic: $19 review 200 profiles</a>
          <a href="#" class="list-group-item">Casual: $59 review 600 profiles</a>
          <a href="#" class="list-group-item">Focused: $129 review 1200 profiles</a>
          <a href="#" class="list-group-item">Silver: $259 review unlimited profiles, 15 sec video clip</a>
          <a href="#" class="list-group-item">Gold: $599 review unlimited profiles, 15 sec video clip, anonymous profile</a>
          <a href="#" class="list-group-item">Diamond: $1299  review unlimited profiles, 15 sec video clip, anonymous profile, contact request</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<script type="text/javascript">  
//   $(".membership_plan").click(function(){
//   $("#add-attachment").modal('show')
// })
</script>
