<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitepeoplemeet_app</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%=root_path%>">Home</a></li>
        <li><a href="#">Page 1</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Setting<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <%if !current_user.profile.present? %>
                <li><%= link_to 'New Profile', new_profile_path %></li>
              <%end%> 
              <%if current_user.profile.present? %>
              <li><a href="<%=profile_path(current_user.profile.id)%>">View profile</a></li>
              <li><a href="<%=edit_profile_path(current_user.profile.id)%>">Edit profile</a></li>
              <%end%> 
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


